<h1>About</h1>

<p>Welcome to ManageIQ Galaxy</p>
<p>An open source version in Rails of Ansible galaxy</p>

<p>Code and license available at:</p>

 <a href="https://github.com/chargio/galaxy-test"> https://github.com/chargio/galaxy-test</a>