<div id="galaxy-info">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="download-icon"><i class="fa fa-cloud-download fa-2x"></i></div>
        <div class="info-label">Download</div>
        <div class="content-txt">
          <p>Jump-start your automation project with great content from the Ansible community. Galaxy provides pre-packaged units of work known to
            Ansible as <a href="http://docs.ansible.com/playbooks_roles.html#roles" target="_blank">roles</a>.</p>
          <p>Roles can be dropped into Ansible PlayBooks and immediately put to work. You'll find roles for provisioning infrastructure, deploying
            applications, and all of the tasks you do everyday.</p>
          <p>Use <a href="/list#/roles">Browse Roles</a> to find roles for your project, then download them onto your Ansible host using the
            <a href="http://docs.ansible.com/ansible/galaxy.html#the-ansible-galaxy-command-line-tool" target="_blank">ansible-galaxy</a> command that
            comes bundled with Ansible.</p>
          <p>For example:</p>
          <pre>
$ ansible-galaxy install username.rolename
</pre>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="share-icon"><i class="fa fa-share-alt fa-2x"></i></div>
        <div class="info-label">Share</div>
        <div class="content-txt">
          <p>Help other Ansible users by sharing the awesome roles you create.</p>
          <p>Maybe you have a role for installing and configuring a popular software package, or a role for deploying software built by your company. Whatever
            it is, use Galaxy to share it with the community.</p>
          <p>Top content authors will be featured on the <a href="/explore#">Explore page</a>, achieving worldwide fame! Or at least fame on
            the internet among other developers and sysadmins.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div id="featured-section">
          <div id="title" class="upcase featured"><i class="fa fa-star fa-2x"></i> <span class="title-text">featured</span></div>
          <div id="featured-role" class="featured">
            <div id="featured-role-body" class="featured-body">
              <span class="upcase title">role:</span><a href="" class="role-link"><span class="role-name"></span> - <span class="role-descr"></span></a>
            </div>
            <div class="controls">
              <a href="" id="featured-prev-link" class="end-link"><i class="fa fa-angle-left"></i></a>
              <a href="" id="featured-one-link" class="interior-link active"><i class="fa fa-circle"></i><i class="fa fa-circle-o"></i></a>
              <a href="" id="featured-two-link" class="interior-link inactive"><i class="fa fa-circle"></i><i class="fa fa-circle-o"></i></a>
              <a href="" id="featured-three-link" class="interior-link inactive"><i class="fa fa-circle"></i><i class="fa fa-circle-o"></i></a>
              <a href="" id="featured-next-link" class="end-link inactive"><i class="fa fa-angle-right"></i></a>
            </div>
          </div>
          <div id="featured-author" class="featured">
            <div id="featured-author-body" class="featured-body">
              <span class="upcase title">author:</span><a href="" class="author-link"><span class="author-name"></span><span class="author-descr"></span></a>
            </div>
            <div class="controls">
              <a href="" id="featured-prev-link" class="end-link"><i class="fa fa-angle-left"></i></a>
              <a href="" id="featured-one-link" class="interior-link active"><i class="fa fa-circle"></i><i class="fa fa-circle-o"></i></a>
              <a href="" id="featured-two-link" class="interior-link inactive"><i class="fa fa-circle"></i><i class="fa fa-circle-o"></i></a>
              <a href="" id="featured-three-link" class="interior-link inactive"><i class="fa fa-circle"></i><i class="fa fa-circle-o"></i></a>
              <a href="" id="featured-next-link" class="end-link inactive"><i class="fa fa-angle-right"></i></a>
            </div>
          </div>
          <div id="featured-blog" class="featured">
            <div id="featured-blog-body" class="featured-body">
              <span class="upcase title">BLOG:</span>
              <a href="https://ansible.com/blog" target="_blank" class="blog-link">Read the latest from The Inside Playbook, and keep up with what's
                happening in the Ansible universe.</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- info -->

<div id="galaxy-footer"></div><!-- footer -->

