<div class="list-group-item">
  <div class="list-view-pf-main-info">
    <%= git_hub_repo_file.path %>
  </div>
  <div class="list-view-pf-additional-info">
    <div class="list-view-pf-additional-info-item">
      <%= git_hub_repo_file.type %>
    </div>
    <div class="list-view-pf-additional-info-item">
      <%= git_hub_repo_file.size %>
    </div>
    <div class="list-view-pf-additional-info-item">
      <%= git_hub_repo_file.download_url %>
    </div>
  </div>
</div>