<h1>
  Repos for user <%= current_user.short_name %>
</h1>

<div class="container-fluid">
  <div class="list-group list-view-pf list-view-pf-view">
      <%= render @repos if @repos %>

  </div>

</div>

<%= button_to "refresh", refresh_user_git_hub_repos_path(user_id: @user) %>
