<h1>GitHubRepos#show</h1>
<p>Find me in app/views/git_hub_repos/show.html.erb</p>


<h1> Attributes for the repo</h1>
<p>
<%= @repo.attributes %>
</p>

<h2> README </h2>

<%= @readme %>

<h2> File structure </h2>

<%= @files %>

