<h2><%= t(".log_in")%></h2>

  <%= link_to user_github_omniauth_authorize_path  do %>
    <%= image_tag("github-mark.svg", height: "64", alt: (t 'application.name').to_s) %>
    <h3>Log in with github</h3>
  <% end %>
